@import url(../profile/__add-button/profile__add-button.css);
@import url(../profile/__avatar/profile__avatar.css);
@import url(../profile/__info/profile__info.css);
@import url(../profile/__edit/profile__edit.css);
@import url(../profile/__name/profile__name.css);
@import url(../profile/__hobby/profile__hobby.css);
.profile {
  padding-top: 36px;
  margin: 0 auto;
  max-width: 882px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  
}
@media screen and (max-width: 900px) {
.profile {
  padding-top: 38px;
  flex-direction: column;
  align-items: center;
}
}