.profile__edit-avatar {
  width: 25px;
  position: relative;
  right: 70px;
  z-index: 1;
  opacity: 2;
}
@media screen and (max-width: 900px) {
  .profile__edit-avatar {
    margin: 0 auto;
    bottom: 75px;
    left: 0;
  }
}
