@import url(../popup/__input/_place/popup__intup_place.css);
@import url(../popup/__input/_link/popup__input_link.css);
@import url(../popup/__form/popup__form.css);
@import url(../popup-item/__close/popup-item__close.css);
@import url(../popup-item/__save/popup-item__save.css);
.popup-item {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

